.stock {
    display: flex;
    justify-content: center;
}

.stock__container {
    width: 80%;
    display: flex;
}

.stock__container_info h1 {
    font-size: 50px;
    color: #111;
}

.stock__container__img img {
    width: 99%;
}

.stock__container_info h4 {
    font-size: 20px;
    color: #111;
    font-weight: 500;
    margin: 30px 0 20px 0;
}

/* .stock__container_info-form form{
} */



.stock__container_info-input input {
    height: 40px;
    width: 200px;

}

.stock__container_info-button button {
    width: 150px;
    height: 50px;
    background-color: #D32416;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    margin: 10px 0 5px 0;
}
.stock__container_info h5{
    font-weight: 400;
}