.main {
  background-image: url(./images/mainbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  background-size: 100%;
}

.main__text-tittle {
  margin: 0;
  /* margin-bottom: 30%; */
  font-size: 8vw;
  text-align: center;
}

.main__text-tittle span {
  color: #D32416;
}

.main__text-subtittle p {
  color: #333;
  font-size: 17px;
  max-width: 450px;
}
.main__text-subtittle{
  display: flex;
  width: 100%;
  justify-content: center;
}