.slider__container {
    width: 330px;
    margin-right: 0;
}

.slider__container-item {
    width: 330px;
}

.slider__container-item img {
    width: 330px;
    margin-right: 2 00px;
}

.slick-arrow {
    display: none !important;

}

.slick-slide {
    margin-right: 50px;
}

.slick-active {
    margin-right: 50px;
}


